<div class="row">
  <div class="columns large-centered">
    <%= form.number_field :phone_number %>
  </div>
</div>
<div class="row">
  <div class="columns large-centered">
    <%= form.submit t(".submit"), class:"button expanded" %>
  </div>
</div>
