<%= form.number_field :phone_number, value: (form.object.phone_number.present? ? "0#{form.object.phone_number}" : nil) %>

<div class="form__wrapper-block">
  <%= form.submit t(".submit"), class:"button button__lg button__primary" %>
</div>
